<ion-view view-title="Login">

    <ion-content class="padding"ng-controller="LoginCtrl">

            <div class="list">
              <label class="item item-input">
                <input type="email" ng-model="email" placeholder="Email"
                ng-minlength="6"
                ng-maxlength="30"
                required>
              </label>
              <label class="item item-input">
                <input  type="password" ng-model="password" placeholder="Password"
                ng-minlength="6"
                ng-maxlength="30"
                required>
              </label>


            </div>
            <div>
              <input type="button" class="button button-block button-positive" value="Login" ng-click="signIn()">
              <input type="button" class="button button-block button-positive" value="Register" ng-click="createUser()">
              <p>{{error.message}}</p>
              <p> {{ message }} </p>
            </div>
          </ion-content>




</ion-view>
