

<ion-view view-title="Matches">
  <ion-content class="padding">
    <ion-list>
        <h4 ng-show="matches.length === 0" align="middle" class="padding-top">No Matches</h4>
      <ion-item ng-repeat="opponent in matches" class="item-avatar" href="#/tab/matches/{{opponent.$id}}">
        <img ng-src="data:image/jpeg;base64,{{ opponent.images.profilePic }}">
        <h2>{{ opponent.firstname }}</h2>
        <p>Wants to play {{ opponent.sport }}</p>
        <ion-option-button class="button-assertive" ng-click="removeOpp(opponent, $index)">
          <i class="ion-minus-circled"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
