<ion-view view-title="Discover" class="tab-discover-page">
  <ion-content class="padding" scroll="false">




    <div class="list card current-opp" ng-class="{skipped: currentOpp.rated == false, favorited: currentOpp.rated == true}" ng-show="currentOpp && !currentOpp.hide">


      <div class="item item-image">
        <img ng-src="{{ currentOpp.image }}">
      </div>

      <div class="item">
        <h2>{{ currentOpp.firstname }}</h2>
        <p>Wants to play {{ currentOpp.sport }}</p>
        <p>{{distance}}km away</p>

      </div>

      <div class="item tabs tabs-secondary tabs-icon-left tabs-color-positive">
        <a class="tab-item" ng-click="sendFeedback(false)">
          <i class="icon ion-close"></i>
        </a>
        <a class="tab-item" ng-click="sendFeedback(true)">
          <i class="icon ion-checkmark"></i>
        </a>
      </div>

    </div>
    <ion-spinner class="spinner "ng-show="!currentOpp" icon="lines" ></ion-spinner>

  </ion-content>
</ion-view>
