/* Discover page stylings */
.tab-discover-page {

}

.tab-discover-page .current-opp {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;

  -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
  transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
}

.tab-discover-page .current-opp .item-image {
  max-height:300px;
  overflow:hidden;
}

@media screen and (max-height: 600px) {
  .tab-discover-page .current-opp .item-image {
    max-height:200px;
    overflow:hidden;
  }
}

.tab-discover-page .current-opp.favorited.ng-hide {
  -webkit-transform: translateX(1000px) rotate(50deg);
  -ms-transform: translateX(1000px) rotate(50deg);
  transform: translateX(1000px) rotate(50deg);
  opacity:0;
}

.tab-discover-page .current-opp.skipped.ng-hide {
  -webkit-transform: translateX(-1000px) rotate(-50deg);
  -ms-transform: translateX(-1000px) rotate(-50deg);
  transform: translateX(-1000px) rotate(-50deg);
  opacity:0;
}

.tab-discover-page .current-opp.ng-hide-add {
  -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
  transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
  display:block!important;
}

.tab-discover-page .current-opp.ng-hide-remove {
  -webkit-transform: scale(0.7) translateX(0px) rotate(0deg);
  -ms-transform: scale(0.7) translateX(0px) rotate(0deg);
  transform: scale(0.7) translateX(0px) rotate(0deg);
  opacity: 0;
}


.tab-discover-page .img-lookahead img {
  height:1px;
  width:1px;
  opacity:0.01;
}/* Empty. Add your own CSS if you like */
